{% extends 'FilmLibrary/base.html' %}
{% block head %}
{% load static %}
    <meta charset="UTF-8">
    <title>Almaty Cinemas</title>
    <link rel="stylesheet" href="{% static 'cinema_list.css' %}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto" style="background-color: white">
    {% for cinema in cinemas %}
    <div class="p-2 border-b border-grey-300 md:w-3/4 mx-auto md:pb-4">
        <a href="{{ cinema.get_absolute_path }}">
            <div class="flex justify-between">
                <div>
                    <div class="font-bold text-lg">{{ cinema.name }}</div>
                    <div class="text-gray-400 text-xs my-1">
                        <div class="h-2 w-2 bg-red-600 rounded-full inline-block mr-1"></div>
                        {{ cinema.address }}
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="w-5 h-5 text-gray-300 mt-3 md:hidden">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
                </svg>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}