{% extends "FilmLibrary/base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <title>Кинотеатр {{ cinema.name }}</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://api-maps.yandex.ru/v3/?apikey=f7a58eb1-dbc0-42d2-a364-a1d2b7327010&lang=ru_KZ"></script>
    <link rel="stylesheet" href="{% static 'cinema_static/cinema_detail.css' %}">
    <script>
        window.map = null;

        main();
        async function main() {
            await ymaps3.ready;
            const {
                YMap,
                YMapDefaultSchemeLayer,
                YMapControls,
                YMapDefaultFeaturesLayer,
                YMapMarker
            } = ymaps3;

            const {YMapZoomControl} = await ymaps3.import('@yandex/ymaps3-controls@0.0.1');

            map = new YMap(document.getElementById('map'), {
                location: {
                    center: ["{{ cinema.longitude }}", "{{ cinema.lattitude }}"],
                    zoom: 16
                }
            });

            map.addChild(scheme = new YMapDefaultSchemeLayer());
            map.addChild(new YMapDefaultFeaturesLayer());

            map.addChild(new YMapControls({position: 'right'}).addChild(new YMapZoomControl({})));

            const el = document.createElement('img');
            el.className = "my-marker";
            el.src = "{% static 'cinema_static/pin.svg' %}";
            el.onclick = () => map.update({
                location: {
                    ...["{{ cinema.longitude }}", "{{ cinema.lattitude }}"],
                    duration: 400
                }
            });
            map.addChild(new YMapMarker({
                coordinates: ["{{ cinema.longitude }}", "{{ cinema.lattitude }}"],
                mapFollowsOnDrag: true
            }, el));
        }
    </script>
    <style>
    .my-marker {
        position: relative;
        box-sizing: border-box;
        transform: translate(-50%, calc(-50% - 24px));
        cursor: pointer;
    }

    </style>
{% endblock %}
{% block content %}
<div class="w-full h-full min-h-screen">
    <div class="max-w-7xl mx-auto">
        <div class="border rounded-2xl shadow-md shadow-gray-200 mt-3">
            <div class="p-3 md:p-4">
                <div class="text-xs md:text-sm text-gray-400 m-1">
                    <a href="{% url 'premiere' %}">Кино Афиша Алматы </a>/
                    <a href="{% url 'cinema_list' %}">Кинотеатры </a>/
                    {{ cinema.name }}
                </div>
                <div class="font-bold text-2xl md:text-3xl">{{ cinema.name }}</div>
                <div class="items-center hidden lg:flex">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z"/>
                    </svg>

                </div>
            </div>
            <div class="md:flex border-b border-gray-200 items-center">
                <span class="hidden md:inline md:w-1/5 p-2">Адресс </span>
                <div class="md:flex md:flex-grow md:justify-between md:w-4/5">
                    <div class="border-b border-gray-200 md:border-b-0 md:p-0 flex p-2 items-center">{{ cinema.address }}
                    </div>
                    <div id='show_on_map'
                         class="md:border-b-0 font-bold flex justify-between border-b border-gray-200 p-2" style="cursor: pointer">
                        <div class="mr-1">Показать на карте</div>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                             class="w-6 h-6">
                            <path fill-rule="evenodd"
                                  d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="hidden rounded-2xl p-2 mt-3 w-11/12 mx-auto" id="map"
                 style="height: 500px;"></div>
            {% with cinema.description as description %}
                {% if description %}
                    <div class="p-2 md:flex">
                        <span class="hidden md:inline md:w-1/5">О кинотеатре</span>
                        {% autoescape off %}
                            {% if description|length > 500 %}
                                <div class="md:w-4/5">
                                    <div id="shortText" style="display: block">
                                        {{ description|truncatewords:50 }}
                                    </div>
                                    <div id="fullText" style="display: none;">
                                        {{ description|linebreaks|safe }}
                                    </div>
                                    <button class="bg-gray-200 rounded-3xl p-2 font-bold text-md  transition-all duration-300 transform scale-95 hover:scale-100"
                                            id="toggleButton">
                    <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                               stroke="currentColor" class="w-4 h-4 inline">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15 15l-6 6m0 0l-6-6m6 6V9a6 6 0 0112 0v3"/></svg>
                    </span>Развернуть
                                    </button>
                                </div>
                            {% else %}
                                <div id="fullText">
                                    {{ description|linebreaks|safe }}
                                </div>
                            {% endif %}
                        {% endautoescape %}
                    </div>
                {% endif %}
            {% endwith %}
            {% if cinema.schedule_set.all %}
                <a class="btn" href="#">Билеты от 1500</a>
            {% endif %}
            <!--           btn class for button-->
        </div>
        <div class="p-2 md:p-3 border rounded-2xl shadow-md mt-3 mb-2">
            {% if not cinema.schedule_set.all %}
                <div class="text-2xl font-bold">Нет информации о сеансах</div>
            {% else %}
                <div class="text-2xl font-bold">Расписание сеансов сегодня</div>
                    <div class="cards md:grid grid-cols-2">
                        {% for film in movie_list %}
                            <div class="{% if forloop.counter > 3 %}hidden{% endif %} p-1 border-b border-gray-200 rounded-xl">
                                <div class="flex h-36 md:h-48 pr-0 ">
                                    <img src="{{ film.image }}" alt="" class="m-2">
                                    <div class="w-full"><a class="font-bold" href="{% url 'movie_detail' movie_slug=film.slug %}">{{ film.name }}</a>
                                        <p class="text-gray-600">{{ film.year }} {{ film.country }}</p>
                                        <p class="text-gray-500">{% for genre in film.genres.all|slice:'2' %}
                                            {{ genre.name }}
                                        {% endfor %}</p>
                                    </div>
                                </div>
                                <ul class="flex flex-wrap p-1">
                                    {% for schedule in cinema.schedule_set.all %}
                                        {% if schedule.film == film %}
                                            <li>
                                                <div>
                                                <a href="{% url 'session' movie_slug=film.slug session_id=schedule.id %}" style="background-color: #dc4700"
                                                      class="mr-2 text-white rounded-md p-0.5 px-2 mb-1">{{ schedule.time }}</a>
                                                    <div style="font-size:11px" class="text-gray-400">
                                                        от {{ schedule.price }} Т
                                                    </div>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                {% if movie_list|length > 3 %}
                    <button class="bg-gray-200 rounded-3xl p-2 font-bold text-md mt-2 text-md transition-all duration-300 transform scale-95 hover:scale-100"
                            id="expand-button"><span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/></svg></span>Показать все
                    </button>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<script>
    const toggleButton = document.getElementById('toggleButton');
    const shortText = document.getElementById('shortText');
    const fullText = document.getElementById('fullText');

    toggleButton.addEventListener('click', function () {
        if (shortText.style.display === 'block') {
            shortText.style.display = 'none';
            fullText.style.display = 'block';
            toggleButton.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline mr-1">\n' +
                '  <path stroke-linecap="round" stroke-linejoin="round" d="M9 9l6-6m0 0l6 6m-6-6v12a6 6 0 01-12 0v-3" />\n' +
                '</svg>Свернуть';
        } else {
            shortText.style.display = 'block';
            fullText.style.display = 'none';
            // toggleButton.textContent = 'Развернуть';
            toggleButton.innerHTML = '<span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"\n' +
                'stroke="currentColor" class="w-4 h-4 inline">\n' +
                '<path stroke-linecap="round" stroke-linejoin="round" d="M15 15l-6 6m0 0l-6-6m6 6V9a6 6 0 0112 0v3"/>\n' +
                '</svg>\n' +
                '</span>\n' +
                'Развернуть';
        }
    });
</script>
<script>
    const expandButton = document.getElementById('expand-button');
    const hiddenCards = document.querySelectorAll('.cards .hidden');
    expandButton.addEventListener('click', () => {
        hiddenCards.forEach(card => card.classList.toggle('hidden'));
        expandButton.innerHTML = hiddenCards[0].classList.contains('hidden') ? '                <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"\n' +
            '                           stroke="currentColor" class="w-4 h-4 inline">\n' +
            '  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/></svg></span>Показать все' : '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">\n' +
            '  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />\n' +
            '</svg>\nСкрыть все';
    });
</script>
<script>
    const show_map = document.getElementById('show_on_map')
    const hidden_map = document.getElementById('map')
    show_map.addEventListener('click', () => {
        hidden_map.classList.toggle('hidden');
        show_map.innerHTML = hidden_map.classList.contains('hidden') ? '                <a class="font-bold" href="#">Показать на карте</a>\n' +
            '                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">\n' +
            '                    <path fill-rule="evenodd"\n' +
            '                          d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"\n' +
            '                          clip-rule="evenodd"/>\n' +
            '                </svg>' : '<a href="#" class="font-bold mr-1">Скрыть карту</a>\n' +
            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">\n' +
            '  <path fill-rule="evenodd" d="M11.47 7.72a.75.75 0 011.06 0l7.5 7.5a.75.75 0 11-1.06 1.06L12 9.31l-6.97 6.97a.75.75 0 01-1.06-1.06l7.5-7.5z" clip-rule="evenodd" />\n' +
            '</svg>'
    })
</script>
{% endblock %}
