<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ film.name }}</title>
    <link rel="stylesheet" href="../../FilmLibrary/static/FilmLibrary/style.css">
{#    <link rel="stylesheet" href="{% static 'FilmLibrary/style.css' %}">#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <img src="{% static film.image %}" >
        <div>
            <h1 class="title">{{ film.name }}</h1>
            <h6 class="subtitle">{{ film.name }} {{ film.acceptable_age }}+</h6>
            <p class="description">{{ film.description }}</p>
            <a href="#" class="btn">Смотреть</a>
            <ul class="params">
                <li><span class="option">Год выпуска</span> <span>{{ film.year }}</span></li>
                <li><span class="option">Страна</span> <span>{{ film.country }}</span></li>
                <li><span class="option">Качество видео</span> <span class="span_wrapper"><span class="tag">FullHd</span></span></li>
            </ul>
            <h2 class="label"> О фильме </h2>
            <ul class="params">
                <li><span class="option">Режисер</span> <a  class='clickable_link' href="{% url 'director_detail' director_slug=film.director.slug %}">{{ film.director }}</a></li>
                <li><span class="option">Жанры</span> <span>{% for genre in film.genres.all %}{{ genre.name }}, {% endfor %}</span></li>
                <li><span class="option">Бюджет</span> <span>${{ film.budget }}</span></li>
                <li><span class="option">Продолжительность</span> <span class="option_time">{{ film.length }}</span></li>
                <li><span class="option">В ролях</span> <span class="option_time">{% for actor in film.actors.all %}<a  class="clickable_link" href="{% url 'actor_detail' actor.slug %}">{{ actor.name }},</a> {% endfor %}</span></li>
            </ul>
        </div>
        <div class="rating">
            <span class="rating_main"> {{ film.rating }} </span>
            <span class="rating_counts">31990 Голосов</span>
            <a href="#" class="clickable_link">1 Рецензия</a>
        </div>
    </div>
    <!-- /.wrapper -->
</div>
<!-- /.container -->
</body>
</html>