{% extends 'FilmLibrary/base.html' %}

{% block head %}
<title>{{review.name}}</title>
{% load static %}
<link rel='stylesheet' href='{% static "film_static/film_review.css" %}'>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}
<div class='content min-h-screen'>
  <h2 >{{review.name}}</h2>
  {% load martortags %}
<div class='review_text'>{{review.text|safe_markdown}}</div>`
<div class='comments'>
  <form action="." method="post">
    {% csrf_token %}
      <div class="field_wraps">
        <h3 class="label_comment">Оставить комментарий</h3>
        {{form.username.errors}}
        <div><input class='field' type="text" name="username" placeholder="Ваше имя"></div>
        {{form.text.errors}}
        <div><input class='field' type="text" name="text" placeholder="Коментарий"></div>
        {{field}}
        <input class='field btn submit_but' type="submit" value="Отправить">
      </div>
  </form>
  <h3 class="label_comment" style="margin-top: 20px;">Коментарии</h3>
  {% for comment in comments %}
  <div class='comment field_wraps'>
    <div>{{comment.username}} {{comment.created|timesince}} назад</div>
   <div>{{comment.text}}</div> 
  </div>
  {% endfor %}
</div>
<!-- <div class='likes_counter'>
  {% verbatim %}
  {{review.like_count}}
  {% endverbatim %}
  <button class="like_button">Like</button>
</div> -->
</div>
{% endblock %}


