<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Актеры</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style_for_actor_list.css' %}">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<div class="container">
    <div class="person_names">
        {% for actor in page_obj %}
            <div class="line"><a href="{{ actor.get_absolute_path }}" class="clickable_link">{{ actor.name }}</a></div>
        {% endfor %}
    </div>
    <nav class="pagination_wrapper">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo;</a></li>
            {% endif %}

            {% for page in page_obj.paginator.page_range|slice:slicer %}
                {% if page == num_page %}
                    <li class="page-item active">
                        <a href="?page={{ page }}" class="page-link">
                            {{ page }}
                        </a></li>
                {% else %}
                    <li class="page-item"><a href="?page={{ page }}" class="page-link">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                {#            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a></li>#}
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
</body>
</html>