<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'spam/style_for_list.css' %}">
    {#    <link rel="stylesheet" href="../../FilmLibrary/static/style_for_list.css">/#}
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary w-75 mx-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Афиша</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn " type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- /.navbar -->
{% load custom_tags %}
<div class="container">
    <div class="wrapper">
        {% for film in films %}
            <div class="card w-75">
                <div class="card-body">
                    <div class="card_counter">{{ forloop.counter }}</div>
                    <img class="card_img" src="{{ film.image }}" alt="">
                    <div class="card_wraps">
                        <div class="upper_card_body">
                            <h5 class="card-title">{{ film.name }}</h5>
                            <div class="card-text">
                                <div class="sub_field">{{ film.slug|replace_space }}, {{ film.year }}, {{ film.length }}</div>
                                <div class="sub_field">Director {{ film.director }}</div>
                                <div class="sub_field">Actors:  {% for actor in film.actors.all|slice:'3' %}{{ actor }} ,{% endfor %}</div>
                            </div>
                            <a href="{{ film.get_absolute_path }}" class="btn">Билеты</a>
                        </div>
                        <div class="{% if film.rating > 7.5 %}rating-positive{% elif film.rating > 5 %}rating-neutral{% else %}rating-negative{% endif %}">
                            {{ film.rating }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.wrapper -->
</div>
</body>
</html>