<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Популярные фильмы{% endblock %}</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'FilmLibrary/style_for_film_list.css' %}">
    <link rel="stylesheet" href="{% static 'default.css' %}">
    {#    <link rel="stylesheet" href="../../FilmLibrary/static/style_for_film_list.css">/#}
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg w-75 mx-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'premiere' %}">Афиша</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all_persons' %}">Персоны</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cinema_list' %}">Кинотеатры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'all_movies' %}">Популярные фильмы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /.navbar -->
{% load custom_tags %}
<div class="container">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
            <h2 style="margin-bottom: 10px">Жанры</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="1" id="option1">
                <label for="option1">Драмма</label></div>
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="3" id="option2">
                <label for="option2">Комедия</label>
            </div>
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="4" id="option3">
                <label for="option3">Криминал</label>
            </div>
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="5" id="option4">
                <label for="option4">Боевик</label>
            </div>
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="8" id="option5">
                <label for="option5">Мультфильм</label>
            </div>
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="11" id="option6">
                <label for="option6">Ужасы</label>
            </div>
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="14" id="option7">
                <label for="option7">Биография</label>
            </div>
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="20" id="option8">
                <label for="option8">Аниме</label>
            </div>
            <div class="radio_item"><input class='check_box_item' type="radio" name="option" value="21" id="option9">
                <label for="option9">Фантастика</label>
            </div>
            <!-- Кнопка "Применить" -->
            <button class="btn" id="applyButton">Применить</button>
        </div>
    </div>
    <div class="filter" style="margin-right: auto"><h1 style="margin: 10px auto;">
        {% block page_name %}Популярные фильмы{% endblock %}
    </h1>
        <div class="filter__inner">
            <ul class="nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link{% if not sort_by_name %} active{% endif %} focus-ring focus-ring-dark"
                       aria-current="page"
                       href="?sort-by=rating">По
                        популярности</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if sort_by_name %} active{% endif %} focus-ring focus-ring-secondary"
                       href="?sort-by=name">По названию</a>
                </li>
            </ul>
            <button class="filter_settings" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                    aria-controls="offcanvas">
                <svg class="icon icon-equalizer" role="img">
                    <use xlink:href="#icon-equalizer">
                        <symbol id="icon-equalizer" viewBox="0 0 32 32">
                            <path d="M14 4v-0.5c0-0.825-0.675-1.5-1.5-1.5h-5c-0.825 0-1.5 0.675-1.5 1.5v0.5h-6v4h6v0.5c0 0.825 0.675 1.5 1.5 1.5h5c0.825 0 1.5-0.675 1.5-1.5v-0.5h18v-4h-18zM8 8v-4h4v4h-4zM26 13.5c0-0.825-0.675-1.5-1.5-1.5h-5c-0.825 0-1.5 0.675-1.5 1.5v0.5h-18v4h18v0.5c0 0.825 0.675 1.5 1.5 1.5h5c0.825 0 1.5-0.675 1.5-1.5v-0.5h6v-4h-6v-0.5zM20 18v-4h4v4h-4zM14 23.5c0-0.825-0.675-1.5-1.5-1.5h-5c-0.825 0-1.5 0.675-1.5 1.5v0.5h-6v4h6v0.5c0 0.825 0.675 1.5 1.5 1.5h5c0.825 0 1.5-0.675 1.5-1.5v-0.5h18v-4h-18v-0.5zM8 28v-4h4v4h-4z"></path>
                        </symbol>
                    </use>
                </svg>
            </button>
        </div>
    </div>
    <script>document.getElementById('applyButton').addEventListener('click', function () {
        var selectedOption = document.querySelector('input[name="option"]:checked').value;
        var urlParams = new URLSearchParams(window.location.search);
        urlParams.set('genre', selectedOption);
        var newUrl = window.location.pathname + '?' + urlParams.toString();
        window.location.href = newUrl;
    });
    </script>
    <div class="wrapper">
        {% for film in page_obj %}
            <div class="card w-100">
                <div class="card-body">
                    <div class="card_counter">{{ forloop.counter }}</div>
                    <img class="card_img bg-placeholder-img" src="{{ film.image }}" alt="">
                    <div class="card_wraps">
                        <div class="upper_card_body">
                            <h5 class="card-title">{{ film.name }}</h5>
                            <div class="card-text">
                                <div class="sub_field">{{ film.slug|replace_space }}, {{ film.year }}, {{ film.length|minutes_to_hours_minutes }}</div>
                                <div class="sub_field">Режисёр {{ film.director }}</div>
                                <div class="sub_field">В ролях:
                                    {% for actor in film.actors.all|slice:'3' %}{{ actor }}  {% endfor %}</div>
                            </div>
                            <a href="{{ film.get_absolute_path }}" class="btn">О фильме</a>
                        </div>
                        <div class="{% if film.rating > 7.5 %}rating-positive{% elif film.rating > 5 %}rating-neutral{% else %}rating-negative{% endif %}">
                            {{ film.rating }}
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <!-- /.wrapper -->
    <nav class="pagination_wrapper">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo;</a></li>
            {% endif %}

            {% for page in page_obj.paginator.page_range|slice:slicer %}
                {% if page == num_page %}
                    <li class="page-item active">
                        <a href="?page={{ page }}" class="page-link">
                            {{ page }}
                        </a></li>
                {% else %}
                    <li class="page-item"><a href="?page={{ page }}" class="page-link">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                {#            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">{{ page_obj.next_page_number }}</a></li>#}
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
<footer class="d-flex flex-wrap justify-content-between py-4 border-top bg-dark" style="margin-bottom: 0">
    <div class="col-sm-3 d-flex">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0  text-white">© 2023 KinosAfisha, Inc</span>
    </div>
    <div class="col-sm-3 mb-3 " style="display:grid; justify-content:center;">
        <ul class="nav flex-column ">
            <li class="nav-item mb-2"><a href="{% url 'premiere' %}" class="nav-link p-0 clickable_link text-white">Афиша</a></li>
            <li class="nav-item mb-2"><a href="{% url 'cinema_list' %}" class="nav-link p-0 clickable_link text-white">Кинотеатры</a></li>
            <li class="nav-item mb-2"><a href="{% url 'all_persons' %}" class="nav-link p-0 clickable_link text-white">Персоны</a></li>
            <li class="nav-item mb-2"><a href="{% url 'all_movies' %}" class="nav-link p-0 clickable_link text-white">Популярные фильмы</a></li>
        </ul>
    </div>
    <div class="col-sm-6 text-center  text-white justify-content-center middle_text">
    КиноАфиша – это лучшее место для фанатов киноиндустрии. Круглосуточно в ваше распоряжение предоставлены:
    онлайн-бронирование билетов в кинотеатры России;
    более тысячи биографий актеров со всего мира, включая полные фильмографии.
    </div>
</footer>
</body>
</html>
