{% extends 'FilmLibrary/base.html' %}
{% block head %}
{% load static %}
    {% load humanize %}
    {% load custom_tags %}
    <meta charset="UTF-8">
    <title>{{ film.name }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'film_static/premiere_film_detail.css' %}">
{% endblock %}
{% block content %}
<div class="own_container">
    <div class="own_wrapper">
        <div class="img_wrapper">
            <img class='poster' src="{{ film.image }}" alt="{{ film.name }} image"
                 style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
            <div class="own_col-3">
                <div class="rating">
                    <span class="rating_main">{{ film.rating }}</span><span> Imdb</span>
                    <span class="rating_counts">{% if film.rating_counts == 0 %}15321 оценка{% else %}
                        {{ film.rating_counts|evaluate_word }}{% endif %}</span>
                    {#                <a href="#" class="clickable_link">1 Рецензия</a>#}
                </div>
            </div>
        </div>
        {#        <img src="{% static film.image %}" img>#}
        <div class="own_col-2">
            <div class="box_wrapper">
                <div class="mini_nav" style="display: flex; align-items: center; color: #bbb; font-size: 14px;">
                    <a href="{% url 'premiere' %}" style="text-decoration: none; color: #bbb;">КиноАфиша</a> /
                    <a >{{ film.name }}</a>
                </div>
                <h1 class="title">{{ film.name }}</h1>
                <h4 class="subtitle"style="font-size: 17px">{{ film.name }} {{ film.acceptable_age }}+</h4>
                <p class="description">{{ film.description }}</p>
                <a href="{% url 'cinema_list' %}" class="btn" style='min-width: 50%'>Билеты</a>
            </div>
            <div class="box_wrapper">
                <ul class="params">
                    <li><span class="option">Год выпуска</span> <span>{{ film.year }}</span></li>
                    <li><span class="option">Страна</span> <span>{{ film.country }}</span></li>
                    <li><span class="option">Качество видео</span> <span class="span_wrapper"><span
                            class="tag">FullHd</span></span></li>
                </ul>
            </div>
            <div class="box_wrapper"><h2 class="label"> О фильме </h2>
                <ul class="params">
                    <li><span class="option">Режисер</span> <a class='clickable_link'
                                                               href="{% url 'director_detail' director_slug=film.director.slug %}">{{ film.director }}</a>
                    </li>
                    <li><span class="option">Жанры</span> <span>{% for genre in film.genres.all %}{{ genre.name }}
                        {% if not forloop.last %},{% endif %} {% endfor %}</span></li>
                    <li><span class="option">Бюджет</span> <span>${{ film.budget|intword|intcomma }}</span></li>
                    <li><span class="option">Продолжительность</span> <span
                            class="option_time">{{ film.length|minutes_to_hours_minutes }}</span></li>
                    <li><span class="option">В ролях</span> <span class="option_time">{% for actor in film.actors.all %}
                        <a class="clickable_link"
                           href="{% url 'actor_detail' actor.slug %}">{{ actor.name }}{% if not forloop.last %}
                            ,{% endif %}</a> {% endfor %}</span></li>
                </ul>
            </div>
        </div>
        <div class="in_theater">
          {% if reviews %}
          <div class="box_wrapper review_wrapps">
            <div class='review'>
		    {% load martortags %}
              <h2 class='review_title'>Ревью</h2>
              <div class='reviews'>
              {% for review in reviews %}
              <div class='review_wrapper'>
              <span class='review_num'>{{forloop.counter}}.</span>
              <a href='{% url "film_review" movie_slug=film.slug review_id=review.id %}' class='clickable_link'>{{review.name|capfirst}}</a>
              <p class='review_text' style='margin-top: 10px;'>
              {{review.text|safe_markdown|truncatewords:30}}
              </p>
              </div>
              {% endfor %}
	      </div>
	    </div>
	  </div>
	  {% endif %}
	  {% if cinemas %}
	  <div class="box_wrapper">
		  <h2 style="margin-bottom: 15px">Смотреть в кино</h2>
		  {% for cinema in cinemas %}
		  <a href="{% url 'cinema_detail' cinema_id=cinema.id %}" class="film_name">{{ cinema.name }}</a>
		  <div class="session_links">
			  {% for schedule in film.schedule_set.all %}
			  {% if schedule.cinema.id == cinema.id %}
			  <a href="{% url 'session' movie_slug=film.slug session_id=schedule.id %}" class="session_link">{{ schedule.time }}</a>
			  {% endif %}
			  {% endfor %}
		  </div>
		  {% endfor %}
	  </div>
        {% endif %}
        <div class="col-3-hidden box_wrapper">
            <div class="rating">
                <span class="rating_main">{{ film.rating }}</span><span> Imdb</span>
                <span class="rating_counts">{% if film.rating_counts == 0 %}15321 оценка{% else %}
                    {{ film.rating_counts|evaluate_word }}{% endif %}</span>
            </div>
        </div>
	</div>
    </div>
    <!-- /.wrapper -->
</div>
<!-- /.container -->
{% endblock %}
