* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(106, 106, 106, 0.05);
    color: black;
    overflow-x: hidden;
    font-size: 16px;
    min-width: 280px;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 10px auto;
    padding: 0 15px;
}

.wrapper {
    display: grid;
    grid-template-columns: 28.3% 40% 1fr;
    grid-gap: 30px;
    padding-top: 80px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 900;
    padding-top: 20px;
}

.subtitle {
    opacity: 0.4;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
}

.params {
    list-style-type: none;
    margin-bottom: 20px;
}

.params li {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 150px 1fr;
    width: 100%;
    margin-bottom: 10px;
}

.params li span.option {
    color: rgba(121, 121, 121, 0.8);
}

.label {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.tag {
    border: 1px solid black;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
}

.span_wrapper {
    margin: -1px;
}

.rating {
    display: block;

}

.rating_main {
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #44c916;
}

.rating_main:first-child {
    display: inline;
}

.rating_counts {
    display: block;
    margin-bottom: 10px;
    line-height: 19px;
    opacity: 0.4;
}

.clickable_link {
    color: #000000;
}

.clickable_link:hover {
    color: #ff5c00;
}

.btn {
    width: 90px;
    min-width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    background: linear-gradient(135deg, #f50 69.93%, #d6bb00);
    border-radius: 40px;
    transition: transform 0.2s ease-out;
    margin: 10px;

}

.btn:focus {
    border: none;
}

.btn:hover {
    background: linear-gradient(135deg, #eb4e00 69.91%, #c5ac00);
    /*width: 95px;*/
    /*height: 40px;*/
    transform: scale(1.05);
}

.box_wrapper {
    background-color: white;
    margin-bottom: 10px;
    padding: 17px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.film_name {
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.session_link {
    background-color: #ffe789;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
    margin-right: 15px;
    margin-bottom: 7px;
}

.session_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 15px 0;
}

.col-3-hidden {
    display: none;
}

.in_theater {
    grid-column: 3;
}

@media (max-width: 1100px) {
    .wrapper {
        grid-gap: 15px;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        grid-template-columns: 30% 1fr;
    }

    .in_theater {
        grid-column: 2;
    }
}

@media (max-width: 800px) {
    .wrapper {
        grid-template-columns: 35% 1fr;
    }
}

@media (max-width: 630px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .in_theater {
        grid-column: 1;
    }

    .poster {
        width: 70%;
    }

    .img_wrapper {
        display: flex;
        justify-content: space-around;
        margin: 0;
    }

}

.box_wrapper:last-child {
    margin-bottom: 0;
}

@media (max-width: 425px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-gap: 0;
        font-size: 14px;
    }

    .col-3-hidden {
        display: block;
        margin-top: 10px;
    }

    .img_wrapper {
        margin-bottom: 10px;
    }

    .col-3 {
        display: none;
    }

    .poster {
        width: 90%;
    }

    .title {
        font-size: 25px;
    }

    .description {
        font-size: 15px;
    }

    .col-2 {
        font-size: 13.6px;
    }
}