* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-size: 16px;
    min-width: 280px;
}

a {
    text-decoration: none;
}

.container {
    width: 1100px;
    max-width: 100%;
    margin: 10px auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 340px 530px 150px;
    grid-gap: 40px;
    padding-top: 80px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 900;
    padding-top: 20px;
}

.subtitle {
    opacity: 0.4;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    margin-bottom: 30px;
}

/*.btn {*/
/*    color: white !important;*/
/*    background-color: #ff5c00;*/
/*    padding: 10px 30px;*/
/*    display: inline-block;*/
/*    border-radius: 100px;*/
/*    font-size: 18px;*/
/*    font-weight: 400;*/
/*    line-height: 21px;*/
/*    transition: all 200ms ease-out;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.btn:hover {*/
/*    background-color: #ff3d00;*/
/*}*/

.params {
    list-style-type: none;
    margin-bottom: 40px;
}

.params li {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 150px 1fr;
    width: 100%;
    margin-bottom: 10px;
}

.params li span.option {
    opacity: 0.4;
}

.label {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 22px;
}

.tag {
    border: 1px solid white;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 5px;
}

.span_wrapper {
    margin: -1px;
}

.rating{
    display:block;

}

.rating_main{
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #44c916;
}
.rating_counts{
    display: block;
    margin-bottom: 10px;
    line-height: 19px;
    opacity:0.4;
}

.clickable_link{
    color:white;
}
.clickable_link:hover{
    color: #ff5c00;
}
.btn{
    width: 90px;
    min-width: 50%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white !important;
    background:linear-gradient(135deg,#f50 69.93%,#d6bb00);
    border-radius: 40px;
    transition: background 1s ease-out;
    margin: 10px;

}
.btn:hover{
    background: linear-gradient(135deg,#eb4e00 69.91%,#c5ac00);
    /*width: 95px;*/
    /*height: 40px;*/
    transform:scale(1.05);
}
