.btn {
    width: max-content;
    min-width: 70px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    background: linear-gradient(135deg, #f50 69.93%, #d6bb00);
    border-radius: 40px;
    transition: transform 0.2s ease-out;
    margin: 10px;
    padding: 10px;
}

.btn:focus {
    border: none;
}

.btn:hover {
    background: linear-gradient(135deg, #eb4e00 69.91%, #c5ac00);
    transform: scale(1.05);
}

.clickable_link {
    text-decoration: none;
    color: #000000;
}

.clickable_link:hover {
    color: #ff5c00;
}

.rating-positive {
    color: #7aba13;
}

.rating-neutral {
    color: #777;
}

.rating-negative {
    color: red;
}
.search_input{
  border-radius: 38px;
  border: 1px #98989873 solid;
  padding: 5px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  height: 45px;
}

.min-h-screen {
    min-height: 85vh;
}

.d-flex{
  align-items: center;
}
.reset_input{
  border: none;
  background: none;
  padding: 7px;
}
.reset_input:focus{
  border: none;
}
.reset_input:active{
  border: none;
}
.search_button{
  border: none;
  background: none;
}
.navbar input[type="text"]:focus,
.navbar input[type="password"]:focus,
.navbar input[type="email"]:focus,
.navbar input[type="number"]:focus,
.navbar input[type="search"]:focus,
.navbar select:focus,
.navbar textarea:focus {
    border-color: initial; /* Или любой другой цвет, который вы хотите использовать */
    box-shadow: none; /* Удаление бокс-тени, если она также присутствует */
    outline: none; /* Удаление стандартного аутлайна */
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff; /* Установите цвет фона, который соответствует вашему дизайну */
    background-image: none; /* Удаление фоновой картинки, если есть */
    color: #000; /* Цвет текста внутри поля */
    transition: background-color 5000s ease-in-out 0s; /* Задержка смены цвета фона */
}

/* Для Firefox */
input:-moz-autofill,
textarea:-moz-autofill,
select:-moz-autofill {
    background-color: #fff;
    background-image: none;
    color: #000;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

/* Изменение цвета для крестика в поле автозаполнения */
input[type="search"]::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
    color: black;
}
.nav-item:focus{
  box-shadow:none;
  outline: none!important;
}
.nav-link:focus{
  outline: none!important;
}
.nav-link{
  outline: none!important;
}
@media (min-width: 200px){
    .flex-column{
        flex-direction: row!important;
        grid-gap: 5px;
        justify-content: center;
    }
    .chunk{
        width: 100%;
    }
}

@media (min-width: 576px) {
    .flex-column{
        flex-direction: column!important;
    }
    .chunk{
        width: unset;
    }
}

