* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /*background-color: black;*/
    /*background-color: rgba(208, 208, 208, 0.19);*/
    background-color: rgba(106, 106, 106, 0.05);
}

.container {
    max-width: 1100px;
    min-width: 250px;
}

.person_names {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    padding: 15px;
}

.clickable_link {
    color: black;
    text-decoration: none;
}

.clickable_link:hover {
    color: #ff5c00;
}

.pagination {
    margin: 20px 0;
    font-size: 13px;
    justify-content: center;
    --bs-pagination-color: black;
    --bs-pagination-active-color: white;
    --bs-pagination-active-bg: black;
    --bs-pagination-active-border-color: #2a2929;
    gap: 7px;
    --bs-pagination-hover-color: none;
    --bs-pagination-hover-bg: rgba(167, 166, 166, 0.15);
    --bs-pagination-focus-color: none;
    --bs-pagination-focus-bg:none;
    --bs-pagination-focus-box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --bs-pagination-border-width:none;
    --bs-pagination-border-color:none;
    --bs-pagination-bg:none;
        font-weight: 500;
    line-height: 18px;
}

.page-link{
    border-radius: 7px;
}
.line {
    border-bottom: .09px solid rgba(157, 157, 157, 0.53);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .person_names {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Media query for screens >= 768px and < 992px */
@media (min-width: 768px) and (max-width: 991px) {
    .person_names {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media query for screens < 768px */
@media (max-width: 767px) {
    .person_names {
        grid-template-columns: repeat(1, 1fr);
    }
}
